@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

#oneLiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem;
  background-color: #272727;
  font-family: 'Caveat', cursive;
  color: #F1FAEE;
  position: sticky;
  top: 0;
  z-index: 10;

  >.oneLinerText {
    margin: 0;
    height: 2rem;
  }
}
